body, html{
    height:100vh;
}
body{
    padding:0;
    margin:0;
    background: black;
    font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', sans-serif;
    max-height: 100vh;
    overflow-y: hidden;
}
h1, p, li{
    font-family:'Titillium Web', 'Helvetica Neue', 'Helvetica', sans-serif;
    color:#222;
    margin:0 0 1em;
}
section li{
    margin:0 0 10px;
}
h1{
    font-size:2.5em;
    font-weight:300;
}
p{
    font-size:1em;
    line-height:1.5em;
}
.wrapper{
    overflow:hidden;
    background: url(background1.jpg) no-repeat fixed center; 
    background-size: auto;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;

    height: calc(100vh - 136px);


}
section{
    padding:30px 30px 30px 80px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;

}
nav{
    position: absolute;
    top: 0;
    left: 0px;
    width: 400px;
    height: calc(100% - 30px); /*100% - footer*/
    margin: 0 0 0 -400px;

    -moz-transition: all 400ms ease-in;
    -webkit-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    overflow: auto;

    z-index:500;


}
nav ul{
    width:auto;
    height:100%;
    padding:0;
    margin:0;
    list-style:none;
    background:#222;
    overflow:auto;
    direction:rtl;
    text-align: left;
}

nav li{
    margin:0;
    z-index: 500;
    position: relative;
    transition: all 0.5s;
}
nav a{
    color:#fff;
    font-size:1em;
    font-family:'Titillium Web', 'Helvetica Neue', 'Helvetica', sans-serif;    text-decoration:none;
    display:block;
    padding:12px 15px;
    font-weight:300;
    letter-spacing:2px;
    border-bottom:1px solid #333;
}
nav li:hover{ /*Buggy*/
/*    -ms-transform: translate(30px, 0px);
    -o-transform: translate(30px, 0px);
    -moz-transform: translate(30px, 0px);
    -webkit-transform: translate(30px, 0px);
    transform: translate(30px, 0px);*/
    background: linear-gradient(#8e8e8e, #afafaf);
    border-left:  7px solid #dd4e0a;
}
nav a:hover{
  color: black;
}

label{
    display:block;
    font-family:'Titillium Web', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight:700;
    background:#dd4e0a;
    width:42px;
    height:42px;
    line-height:42px;
    color:#fff;
    text-align:center;
    font-size:2em;
    line-height:1.1em;
    position:absolute;
    top:10px;
    left: 0px;
    -moz-transition:all 400ms ease-in;
    -webkit-transition:all 400ms ease-in;
    -o-transition:all 400ms ease-in;
    transition:all 400ms ease-in;
    z-index:499;
    padding-left: 1%;
    border-bottom: 0.5vh solid rgba(40, 40, 40, 0.7);
}
label img {
  padding-top: 5px;
}
label:hover{
  cursor: pointer;
  background: #b23e07;
}
section{ /*This avoids the invisible section from blocking the hover*/
  position: relative;
  z-index: 0;
}
input[type="checkbox"]{
    display:none;
}
input[type="checkbox"]:checked ~ nav{ /*Slide action*/
    margin:0;
}
input[type="checkbox"]:checked ~ label{
    left:410px;
    padding-left: 8%;
    margin-left: -10px;
}
input[type="checkbox"]:checked ~ label img{
    transform: rotate(180deg);
    padding-top: 0;
    padding-bottom: 5px;
}
input[type="checkbox"]:checked ~ section{
    -webkit-transform:translate3d(260px, 0, 0);
    -moz-transform:translate3d(260px, 0, 0);
    -o-transform:translate3d(260px, 0, 0);
    transform:translate3d(260px, 0, 0);
}

/*Scrollbar for list ------------------------------------------------------------------------------------*/
#launchList::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  direction:rtl;
}

#launchList::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
  direction:rtl;
}

#launchList::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #060b62;
  direction:rtl;
}

/*Popup Top Notification -----------------------------------------------------------------------*/
#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-350px); } /*Initial position*/
    100%/*, 90%*/ { -webkit-transform: translateY(0px); } /*setting this to 100% means 100% completion on the animation, so it locks itself down*/
}
@-moz-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-350px); }
    100%/*, 90%*/ { -webkit-transform: translateY(0px); }
}
@-webkit-keyframes slideUp{
    0%, 100% { -webkit-transform: translateY(0px); }
    100%/*, 90%*/ { -webkit-transform: translateY(-350px); } /*Initial position*/ 
}
@-moz-keyframes slideUp {
    0%, 100% { -webkit-transform: translateY(0px); }
    100%/*, 90%*/ { -webkit-transform: translateY(-350px); }
}
#note.open{
    -webkit-transform: translateY(-350px);
    -webkit-animation: slideDown 1s 0.7s 1 ease forwards; 
    -webkit-transform: translateY(-350px);
    -webkit-animation: slideDown 1s 0.7s 1 ease forwards;
    z-index: 602; 
}

#note.close{
    -webkit-transform: translateY(-350px);
    -webkit-animation: slidUp 1s 0.0s 1 ease forwards; /*Needs the 0 delay*/
    -webkit-transform: translateY(-350px);
    -webkit-animation: slideUp 1s 0.0s 1 ease forwards; 
    z-index: 602;
}

.displayNone{
  display: none !important;
}
.cssanimations.csstransforms #close {
  display: none;
}

/*Start Screen ----------------------------------------------------------------------------------------------*/
#startScreen{
  width: 100vw;
  height: 100vh;
  z-index: 600;
  position: absolute;
  display: block;
  background: black;
}

.earthImg{
  position: absolute;
  top: 0vh;
  width: 100vw;
  z-index: 997;
}

.logo{
  position: absolute;
  bottom: 5vh;
  z-index: 997;
  width: 7.81vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#particles-js{
  z-index: 999;
}

#startScreen>h1 {
  position: relative;
  top:30vh;
  color: white;
/*  width: 80%;*/
  font-size: 3.56vw;
  text-align:left;
  margin: auto;
  z-index: 999;
  display: block;
  width: 33vw;
  right: 20vw;
}
#startScreen>p {
  position: relative;
  top:30vh;
  color: white;
/*  width: 80%;*/
  font-size: 1.78vw;
  text-align:left;
  margin: auto;
  z-index: 999;
  display: block;
  width: 33vw;
  right: 20vw;
}

.controller{ /*Starting Position, animate it's top position later*/
  z-index: 601;
  position: absolute;
  top: 65vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 36.46vw;
  width: 100vw;
  text-align: center;
}

.controller h2 {
  color: white;
  text-align: center;
}

.controller p{
  margin: 0.51vh 0.26vw;
  font-size: 1.78vw;
  position: relative;
  transform: translateX(10vw);
  bottom: -1vw;
  text-align: left !important;
  color: #dd4e0a;
  padding-right: 0px;
  width: 15vw;
  background: #e5e5e5;
  border-radius: 0.26vw;
  padding: 0 0 0 1.7vw;
}



@-webkit-keyframes moveRange{
  from{
    top: 70vh;
  }

  to{
    top: 0vh;
  }
}

@-webkit-keyframes changeWidth{
  from{
    width: 36.46vw;
  }
  to{
    width:15.63vw;
  }
}

@-webkit-keyframes fadeAnim{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@-webkit-keyframes blinkAnim{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.1;
  }
}
@-webkit-keyframes fontSizeAnim{
  0%{
    font-size: 1.78vw;
    transform: translateX(10vw);
    color: #dd4e0a;
    background: white;
    bottom: -1vw;
  }
  100%{
    font-size: 1.08vw;
    transform: translateX(26.56vw);
    color: white;
    background: none;
    bottom: 2.2vw;
  }
}


.moveUp{
  -webkit-animation: moveRange 1s 0.7s;
  -webkit-animation-fill-mode:forwards;
}
.shrink{
  -webkit-animation: changeWidth 1s 0.7s;
  -webkit-animation-fill-mode:forwards;
}

.fadeOut{
  -webkit-animation: fadeAnim 1.5s 0.7s;
  -webkit-animation-fill-mode:forwards;
}

.blink{
  -webkit-animation: blinkAnim 3.5s ease-in-out;
  animation-iteration-count: infinite;
}

.fontSize{
  -webkit-animation: fontSizeAnim 1.5s 0.7s;
  -webkit-animation-fill-mode:forwards;
}


/*Range Input Styling*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 36.46vw; /* Animate width to 300px later and add medie query for mobile*/
  background: transparent; /* Otherwise white in Chrome */

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100vw;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
/*Styling Track*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #dd4e0a;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dd4e0a;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #dd4e0a;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*Top Bar + Logo + Logo BG --------------------------------------------------*/
.logoBG>img{    
  margin: 10px 0px;
  padding: 15px 35px;
  height: 80px;
  position: relative;

}

/*Footer With Credits ------------------------------------------------*/
footer {
    position: absolute;
    background: black;
    width: 100%;
    height: 30px;
    bottom: 0px;
    margin: 0 -10px;
    text-align: center;
    z-index: 700;
}

footer p {
    color: white;
    font-size: 0.7em;
    margin-top: 0.3%;

}

footer a {
    color:#dba257;
    text-decoration: none;

    transition: color 0.5s;
}

footer a:hover{
    color: green;
}

/*Earth ---------------------------------------------------------------*/

span.cesium-credit-textContainer{
  display: none;
}

.earthContainer{
  position: relative;
  width: 100%;
}

.moveEarth {
  width: 100%;
}


/*List Active Class   -------------------------------------------*/

.active{
  background: linear-gradient(#afafaf, white);
  border-left:  7px solid #dd4e0a;
}

.activeCol {
  color: black;
}

/*test out vw and vh values*/