/*

Make input range bigger on Start Screen, maybe bellow everything, then...
Make range input slide bellow logo on top of screen upon application start
Make nav full width with the close (slide to left button on top) button somewhere (look for inspiration on other apps)
Make infowindow full width with the close button exactly like the nav close



*/

@media screen and (max-width: 720px){

body{
  overflow-y: hidden;
  position: relative;
}

footer{
  height: 6.5vh;
  bottom: 10vh;
}
footer p {
  margin-top: 1.5vh;
}

@-webkit-keyframes moveCreditsAnim{
    0%{bottom: 10vh;}
    100%{bottom: 0vh;}

}

.moveDown{
  -webkit-animation: moveCreditsAnim 0.05s 0.0s;
  -webkit-animation-fill-mode:forwards;
}


 /*START SCREEN -----------------------------------------------------------*/

  .earthImg{
    height: 40vh;
    width: 200vw;
    overflow-x: hidden;
  }

  #startScreen>h1{
    font-size: 7.56vw;
    width: 70vw;
  }

  #startScreen>p{
    width: 70vw;
    font-size: 5.56vw;
  }

  #startScreen>p, #startScreen>h1{
    top: 20vh;
    right: 10vw;
  }

  .controller{
    max-width: 100vw;
    width: 90vw;
    top: 60vh;
    background: rgba(239, 239, 239, 1);
    /*border-radius: 5px;*/
    padding: 1vh 5vw;
    margin: 0 auto;
    border-bottom: 5px solid #777777;

  }

  .controller h2 {
    font-size: 5.5vw;
    color: black;
    margin-top: 0;
    color: black;
    display: initial;

  }

  .controller p{
    font-size: 3.5vw;
    width: 50vw;
    transform: translateX(30vw);
    background: none;
    font-weight: 900;

  }

  @-webkit-keyframes moveRange{
    from{
      top: 60vh;
      height: auto;
    }

    to{
      top: 14vh;
      height: 8vh;
    }
  }

  @-webkit-keyframes changeWidth{
    from{
     
    }
    to{
      
    }
  }

  @-webkit-keyframes fontSizeAnim{
    0%{
      font-size: 3.5vw;
    }
    100%{
      font-size: 3.5vw;
    }
  }

  @-webkit-keyframes blinkAnim{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.moveUp{
  -webkit-animation: moveRange 0.5s 0.7s;
  -webkit-animation-fill-mode:forwards;
}


  input[type=range] {
    -webkit-appearance: none; 
    width: 90vw; 
    background: transparent;

  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 5vh;
    width: 8vw;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -2vh; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  input[type=range]::-moz-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 5vh;
    width: 8vw;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -2vh; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  input[type=range]::-ms-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 5vh;
    width: 8vw;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -2vh; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }

  .logo{
    width: auto;
    height: 5vh;
    bottom: 18vh;
  }

  /*Logo ----------------------------------------------------------------------------------------*/
  .logoBG>img {
    margin: 0vh auto;
    display: block;
    height: 11vh;
  }
  /*NAV ------------------------------------------------------------------------------------------*/

  nav{
    width: 100vw;
    top: 10.7vh;
    margin: 0 0 0 -100vw;
    height: calc(100% - 10.7vh); 
  }

  input[type="checkbox"]:checked ~ nav{ /*Slide action*/
    margin:0px;
  }

/*get the label down, and only display it when nav is closed*/
  label{
    top: 40vh;
    padding-left: 5vw;
  }

  input[type="checkbox"]:checked ~ label{
    margin-left: -50vw;
  }
  input[type="checkbox"]:checked ~ label img{
    transform: rotate(0deg);
  }

  /*Note/InfoWindow -------------------------------------------------------*/

  #note{
    width: 100vw;
    top: 10.7vh;
    height: calc(100% - 10.7vh);
  }

  @-webkit-keyframes slideDown {
    0%{ -webkit-transform: translateX(100vw); } 
    100%/*, 90%*/ { -webkit-transform: translateX(0vw); } 
  }
  @-moz-keyframes slideDown {
    0%{ -webkit-transform: translateX(100vw); }
    100%/*, 90%*/ { -webkit-transform: translateX(70vw); }
  }
  @-webkit-keyframes slideUp{
    0% { -webkit-transform: translateX(70vw); }
    100%/*, 90%*/ { -webkit-transform: translateX(100vw); } /*Initial position*/ 
  }
  @-moz-keyframes slideUp {
    0% { -webkit-transform: translateX(70vw); }
    100%/*, 90%*/ { -webkit-transform: translateX(100vw); }
  }

  #note.open{
    -webkit-transform: translateX(100vw);
    -webkit-animation: slideDown 1.6s 1.7s 1 ease forwards;
  } 


  .infoContent{
    width: 100vw;
  }

  .infoContent>p{
    font-size: 0.9em;
  }

  #closeWindow{
    padding: 0vh 4vw;
    margin-left: 10px;
    top: 2vh;
    font-size: 18px;
    right: 4vw;
    left: auto;

  }

  /*Move Earth -------------------------------------------------------------------*/

  .moveEarth{
    top: 5vh;
  }









}

